@mixin circular-progressbar {
    .circular-progressbar #progress-background {
        stroke: $v-background-color;
    }
    .circular-progressbar #progress-border {
       @if $border {
            stroke: last(valo-border($v-border, $v-selection-color, $v-app-background-color));
       } @else {
          stroke: none;
       }
    }
    .circular-progressbar #progress-inner {
        stroke: $v-selection-color;
    }
    .circular-progressbar #count {
        fill: $v-font-color;
    }
}