@mixin circular-progressbar {
    .circular-progressbar #progress-background {
        $bg-lightness: if(color-luminance($v-background-color) < 10, min($v-bevel-depth/2, 10%), min($v-bevel-depth/-2, -10%));
        stroke: scale-color($v-background-color, $lightness: $bg-lightness, $saturation: $v-bevel-depth/-2);
    }
    .circular-progressbar #progress-border {
       @if $border {
            stroke: last(valo-border($v-border, $v-selection-color, $v-app-background-color));
       } @else {
          stroke: none;
       }
    }
    .circular-progressbar #progress-inner {
        stroke: $v-selection-color;
    }
    .circular-progressbar .circular-progressbar-circle-part {
        transform-origin: 50% 50%; // change the origin to rotate at the correct point
        transform: rotate(225deg); // rotate by 225°
    }
    .circular-progressbar #count {
        fill: $v-font-color;
    }
    .circular-progressbar #label {
        fill: $v-font-color;
    }
}